.footer__wrap {
    max-width: 1130px;
    margin: 0 auto;
}

.footer__block {
    margin: 0 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer__img {
    width: 120px;
}

.footer__text {

}