.header_wrap {
    // max-width: 1330px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    flex-wrap: wrap;
}

.logo {
    width: 120px;
}

.menu {
    display: flex;
    list-style: none;

    li {
        margin-left: 94px;

        a {
            color: #252B42;
            text-decoration: none;

            &:hover {
                color: #FA4A0C
            }
        }
    }
}